@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

li a{
  color: antiquewhite;
  font-weight: bolder;
  font-family: 'Stoke', serif;
}

#root {
  background-image: url("../img/bg.jpg");
  height: 100%;
}

#header {
  width: 597px;
  height: 94px;
  background: url("../img/menuBcg.gif") no-repeat left top;
  overflow: hidden;
  margin: 0 auto;
  box-shadow:0px 5px 10px black;
}

#header ul {
  list-style: none;
  margin: 38px 0 0 30px;
  overflow: hidden;
}

.item {
  width: 80px;
  height: 40px;
  display: block;
  margin: 18px 0 0 10px;
}

.item-long {
  width: 150px;
  margin-top: 18px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-flex {
  display: flex;
}
